.input {
    --winput: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
}

input[type='text'] {
    width: calc(var(--winput) - 80px);
    border-style: none;
    border-radius: 5px 0px 0px 5px;
}

input[type='submit'] {
    width: 80px;
    border-style: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 2rem;
    color: white;
    background-color: lightseagreen;
    cursor: pointer;
}